
body{
    background-image: linear-gradient(to right, #A8D8D8 , #50ACF2);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
}
section{
    background-image: linear-gradient(to right, #8CCAE1 , #75BEE7);
    width: 400px;
    height: 400px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px  5px 5px 5px rgba(0, 0, 0, 0.371);
}
#res{
    background-color: white;
    width: 150px;
    height: 250px;
    padding: 10px;
    border-radius: 10px ;
    
       
}
footer{
    background-color: rgba(216, 213, 213, 0.275);
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    bottom: 0;
    margin: 10px;
  
}
   
